#no-mobile{
    position: absolute;
    z-index: 999;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
@media (max-width: 645px) {
    #no-mobile{
        display: none;
    }
}