@import url(reset.css);
@import url(variables.css);

/* components */
@import url(components/status-bar.css);
@import url(components/nav-bar.css);
@import url(components/screen-header.css);
@import url(components/user-component.css);
@import url(components/badge.css);
@import url(components/icon-row.css);
@import url(components/alt-screen-header.css);
@import url(components/no-mobile.css);

/* screens */
@import url(screens/login.css);
@import url(screens/friends.css);
@import url(screens/find.css);
@import url(screens/more.css);
@import url(screens/settings.css);
@import url(screens/chat.css);

body{
    color: #2e363e;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-screen{
    padding: 0px var(--horizontal-space);
}