.settings__setting{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings__setting-column:last-child{
    color: rgb(141, 141, 141);
}
.settings__setting i{
    margin-right: 20px;
    font-size: 22px;
    color: rgba(0,0,0,.7);
}
.settings__setting-info{
    display: flex;
    align-items: center;
}
.badge-new{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: tomato;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 13px;
    margin-left: 6px;
    color: white;

}