.alt-header{
    padding: 50px 22px 20px 22px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
}
.alt-header__title{
    font-size: 30px;
    font-weight: 600;
}
.alt-header__column{
    width: 33%;
}
.alt-header__column:first-child{
    margin-right: auto;
}
.alt-header__column:nth-child(2){
    text-align: center;
}
.alt-header__column:last-child{
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}