.nav{
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1px solid rgba( 0,0,0,.1);
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}
.nav__link{
    color: #2e363e;
    position: relative;
}

.nav__btn:nth-child(2) .nav__notification{
    position: absolute;
    top: -17px;
    left: 18px;
}